/* -----------------------
     poppins font use from google font
     ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* -----------------------
     common utilities styles 
     --------------------------------*/
body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.section-container{
     padding: 70px 0;
     display: flex;
     justify-content: center;
}

/* -----------------------
     hero section styles 
     --------------------------------*/
.hero-section{
     height: 677px;
     background-color: #2D25A0;
     display: flex;
     justify-content: space-evenly;
     align-items:center;
     width: 100%;
}

.hero-left-content-part #hero-section-title{
     font-size: 64px;
     font-weight: 700;
     line-height: 80px;
     color: #ffffff;
     margin-bottom: 27px;
}

.hero-image-part img{
     width: 556px;
}

/* ------------------
     button styles 
---------------------------*/
.btn{
     text-decoration: none;
     color: #ffffff;
     font-size: 16px;
     font-weight: 500;
     padding: 10px 24px;
     background-color: #E02C6D;
     transition: all 0.8s ease;
}

.btn:hover{
     background-color: #ffffff;
     color: #E02C6D;
     letter-spacing: 1px;
}

/* -----------------------
     players section styles 
     --------------------------------*/
.players{
     width: 1050px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
}

.individual-player{
     padding: 15px;
     background-color: #ffffff;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.individual-player .player-image img{
     width: 300px;
     height: 246px;
}

.individual-player .player-info .player-name{
     font-size: 28px;
     font-weight: 700;
     margin-top: 16px;
     margin-bottom: 10px;
}

.individual-player .player-info .player-bio{
     color: #6C6C6C;
     font-size: 16px;
     font-weight: normal;
     margin-top: 0;
}

/* -----------------------
     footer styles
     --------------------------------*/
.footer-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 63px 0;
}

.footer-content .site-logo img{
     width: 483.87px;
     height: 110px;
}

.social-links{
     width: 170px;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-column-gap: 14px;
}

.social-icon-container{
     height: 32px;
     width: 32px;
     background-color: #E7E7E8;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 0.8s ease;
}

.social-icon-container:hover{
     background-color: black;
}

.single-icon{
     color: #969BAB;
     font-size: 17px;
}

.social-icon-container:hover .single-icon{
     color: #E7E7E8;
}

.footer-content .copyright p{
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
}

/* -----------------------
     media queries
     --------------------------------*/