/* designed and developed by Monirul Islam */

/* -----------------------
     poppins font use from google font
     ----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* -----------------------
     common utilities styles 
     --------------------------------*/
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.section-container{
     padding: 70px 0;
     display: flex;
     justify-content: center;
}

.section-width-1050px{
     width: 1050px;
}

.section-flex-direction-column{
     padding: 70px 0;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.section-title{
     color: #0A0826;
     font-size: 48px;
     font-weight: bold;
     line-height: 60px;
     margin-bottom: 50px;
}

/* -----------------------
     hero section styles 
     --------------------------------*/
.hero-section{
     background-color: #2D25A0;
}

.hero-content{
     height: 677px;
     display: flex;
     justify-content: space-evenly;
     align-items:center;
     width: 100%;
}

.hero-left-content-part #hero-section-title{
     font-size: 64px;
     font-weight: 700;
     line-height: 80px;
     color: #ffffff;
     margin-bottom: 27px;
}

.hero-image-part img{
     width: 556px;
}

/* ------------------
     button styles 
---------------------------*/
.btn{
     text-decoration: none;
     color: #ffffff;
     font-size: 16px;
     font-weight: 500;
     padding: 10px 24px;
     background-color: #E02C6D;
     transition: all 0.8s ease;
}

.btn:hover{
     background-color: #ffffff;
     color: #E02C6D;
     border: 1px solid #E02C6D;
     letter-spacing: 1px;
}

/* -----------------------
     players section styles 
     --------------------------------*/
.players{
     width: 1050px;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
}

.individual-player{
     padding: 15px;
     background-color: #ffffff;
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.individual-player .player-image img{
     width: 300px;
     height: 246px;
}

.individual-player .player-info .player-name{
     font-size: 28px;
     font-weight: 700;
     margin-top: 16px;
     margin-bottom: 10px;
}

.individual-player .player-info .player-bio{
     color: #6C6C6C;
     font-size: 16px;
     font-weight: normal;
     margin-top: 0;
}

/* -----------------------
     match part styles
     --------------------------------*/
.match-highlights{
     width: 1100px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.match-left-side{
     padding-right: 66px;
}

.match-left-side #match-heading{
     color: #0A0826;
     font-size: 48px;
     font-weight: bold;
     line-height: 60px;
     margin-bottom: 8px;
}

.match-details{
     font-size: 16px;
     color: #6C6C6C;
     line-height: 28px;
     font-weight: normal;
     margin-bottom: 24px;
}

.match-right-side img{
     width: 550px;
}


/* -----------------------
     Latest Videos styles
     --------------------------------*/
.latest-videos{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
}

.single-video{
     width: 100%;
     height: 180px;
}

/* -----------------------
     newsletter styles
     --------------------------------*/
#newsletter-section{
     background-color: #2d25a0;
     padding: 70px 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.input-field input{
     padding: 10px 100px;
     margin-right: 30px;
     border: none;
}

.input-field input:focus{
     border: none;
}

.subscribe-button .btn:hover{
     letter-spacing: 0px;
     border: none;
     background-color: #000000;
     color: white;
}

/* -----------------------
     footer styles
     --------------------------------*/
.footer-content{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 63px 0;
}

.footer-content .site-logo img{
     width: 483.87px;
     height: 110px;
}

.social-links{
     width: 170px;
     display: grid;
     grid-template-columns: repeat(4,1fr);
     grid-column-gap: 14px;
}

.social-icon-container{
     height: 32px;
     width: 32px;
     background-color: #E7E7E8;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 0.8s ease;
}

.social-icon-container:hover{
     background-color: black;
}

.single-icon{
     color: #969BAB;
     font-size: 17px;
}

.social-icon-container:hover .single-icon{
     color: #E7E7E8;
}

.footer-content .copyright p{
     font-size: 18px;
     font-weight: 400;
     line-height: 24px;
     margin-top: 20px;
}


/* -----------------------
     media queries
     --------------------------------*/

/* mobile device */
@media only screen and (max-width: 600px){
     .hero-section{
          padding-top: 20px;
          padding-left: 16px;
     }

     .hero-content{
          height: 695px;
          width: 100%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
     }

     .hero-left-content-part{
          margin-bottom: 50px;
     }

     .hero-left-content-part #hero-section-title{
          font-size: 36px;
          line-height: 50px;
          font-weight: 700;
     }

     .hero-image-part img{
          width: 330px;
     }

     .players{
          width: 90%;
          grid-template-columns: repeat(1,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }

     .match-highlights{
          flex-direction: column;
          align-items: flex-start;
          width: 92%;
     }

     .match-left-side{
          padding: 0;
          margin-bottom: 29px;
     }
     .match-left-side #match-heading{
          font-size: 30px;
          line-height: 40px;
          font-weight: 700;
     }
     
     .match-right-side img{
          width: 328px;
     }

     .section-title{
          font-size: 30px;
          line-height: 40px;
          padding-left: 16px;
          margin-bottom: 20px;
     }

     .latest-videos{
          width: 92%;
          grid-template-columns: repeat(1,1fr);
          grid-row-gap: 10px;
     }

     #newsletter-section{
          flex-direction: column;
     }

     .input-field input{
          margin: 0;
          padding: 10px 80px;
     }

     #newsletter-section .btn{
          display: block;
          margin-top: 10px;
          padding: 10px 45px;
     }

     .footer-content .site-logo img{
          width: 250px;
          height: 63px;
     }

     .site-logo{
          margin-bottom: 10px;
     }
}

/* a bit larger screen then mobile & tabs*/
@media only screen and (min-width: 601px) and (max-width: 767px){
     .hero-section{
          width: 100%;
     }

     .hero-content{
          height: 600px;
          width: 100%;
          justify-content: space-evenly;
     }

     .hero-left-content-part{
          margin-bottom: 50px;
     }

     .hero-left-content-part #hero-section-title{
          font-size: 36px;
          line-height: 50px;
          font-weight: 700;
     }

     .hero-image-part img{
          width: 330px;
     }

     .players{
          width: 94%;
          grid-template-columns: repeat(2,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }

     .match-highlights{
          flex-direction: column;
          align-items: flex-start;
          width: 80%;
     }

     .match-left-side{
          padding: 0;
          margin-bottom: 29px;
     }
     .match-left-side #match-heading{
          font-size: 30px;
          line-height: 40px;
          font-weight: 700;
     }
     
     .match-right-side img{
          width: 328px;
     }

     .section-title{
          font-size: 30px;
          line-height: 40px;
          padding-left: 16px;
          margin-bottom: 20px;
     }

     .latest-videos{
          width: 80%;
          grid-template-columns: repeat(2,1fr);
          grid-row-gap: 10px;
     }

     .input-field input{
          margin-right: 20px;
          padding: 10px 80px;
     }

     #newsletter-section .btn{
          padding: 8px 30px;
     }

     .footer-content .site-logo img{
          width: 250px;
          height: 63px;
     }

}

/* medium size screens  */
@media only screen and (min-width: 768px) and (max-width: 1100px){
     .hero-section{
          width: 100%;
     }

     .hero-content{
          height: 600px;
          width: 100%;
          justify-content: space-evenly;
     }

     .hero-left-content-part{
          margin-bottom: 50px;
     }

     .hero-left-content-part #hero-section-title{
          font-size: 36px;
          line-height: 50px;
          font-weight: 700;
     }

     .hero-image-part img{
          width: 330px;
     }
     .players{
          width: 90%;
          grid-template-columns: repeat(2,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }

     .match-highlights{
          flex-direction: column;
          align-items: flex-start;
          width: 80%;
     }

     .match-left-side{
          padding: 0;
          margin-bottom: 29px;
     }
     .match-left-side #match-heading{
          font-size: 30px;
          line-height: 40px;
          font-weight: 700;
     }
     
     .match-right-side img{
          width: 328px;
     }

     .section-title{
          font-size: 30px;
          line-height: 40px;
          padding-left: 16px;
          margin-bottom: 20px;
     }

     .latest-videos{
          width: 80%;
          grid-template-columns: repeat(2,1fr);
          grid-row-gap: 10px;
     }
}


/* custom media queries for players and newletter part */
@media only screen and (min-width: 735px) and (max-width: 767px){
     .players{
          width: 94%;
          grid-template-columns: repeat(2,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }
}


@media only screen and (min-width: 779px) and (max-width: 800px){
     .players{
          width: 90%;
          grid-template-columns: repeat(2,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px){
     .players{
          width: 70%;
          grid-template-columns: repeat(2,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }
}

@media only screen and (min-width: 365px) and (max-width: 450px){
     .players{
          width: 90%;
          grid-template-columns: repeat(1,1fr);
     }

     .individual-player .player-image img{
          width: 100%;
     }
}

@media only screen and (min-width: 601px) and (max-width: 629px){
     .input-field input{
          margin-right: 20px;
          padding: 10px 60px;
     }

     #newsletter-section .btn{
          padding: 8px 20px;
     }
}

@media only screen and (max-width: 320px){
     .input-field input{
          padding: 10px 45px;
     }

     #newsletter-section .btn{
          padding: 8px 10px;
     }
}